@import "smart-grid";
.form-input {
    padding: 10px;
    background-color: antiquewhite;
}

.list {
    padding: 10px;
    background-color: brown;
    &-item {
        list-style-type: none;
       background-color: antiquewhite; 
       padding: 10px;
       margin: 10px;
    }

}
.display-none {
    display: none;
}
